server:
  port: 8090
spring:
  application:
    name: "loans"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  sql:
    init:
      mode: never
  # config:
  #   import: "optional:configserver:"
  # rabbitmq:
  #   host: localhost
  #   port: 5672
  #   username: guest
  #   password: guest
management:
  endpoints:
    web:
      exposure:
        include: busrefresh  #in your microservice, we used *