server:
  port: 8090
spring:
  application:
    name: "loans"
  sql:
    init:
      mode: always
      schema-locations: classpath:sqls/schema.sql
  config:
    import: "optional:configserver:"
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
management:
  endpoints:
    web:
      exposure:
        include: busrefresh  #in your microservice, we used *