server:
  port: 8080
spring:
  application:
    name: accounts
  datasource:
    url: ${DB_JDBC_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  sql:
    init:
      mode: never
  config:
    import: "optional:configserver:"
management:
  endpoints:
    web:
      exposure:
        include: busrefresh  #in your microservice, we used *