server:
  port: 9000
spring:
  application:
    name: "cards"
  datasource:
    url: ${DB_JDBC_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: never
  # config:
  #   import: "optional:configserver:"
management:
  endpoints:
    web:
      exposure:
        include: busrefresh  #in your microservice, we used *