server:
  port: 8071
spring:
  application:
    name: configserver
  profiles:
    active:
      - git
  cloud:
    config:
      server:
        git:
          uri: "https://github.com/DebaKaran/easybank-config.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
        #native:
      # search-locations: classpath:/configs
